<div class="col-lg-12" id="edit_comments<%=@cmt.post.id%>">
  <br>
    <%= form_for(@cmt, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      
        <div class="col-lg-9">
          <div class="form-group">
          <%= f.text_area :description, rows: 1, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="col-lg-2 " style="display: inline;margin-left: 10px;">
        <div class="form-group">
          <%= f.submit :"Update Comment",  class: "btn btn-primary btn-md" %>
        </div>
      </div>
    <% end %>
</div>



