$('#show_comments<%=@cmt.post.id%>').replaceWith("<%= j render partial: 'comments/show_comments', locals: {post: @cmt.post} %>");
$('#form_comments<%=@cmt.post.id%>').replaceWith("<%= j render partial: 'comments/form_comments', locals: {post: @cmt.post} %>");