<% if @friends %>
  <h2 class="lead text-center">Friends</h2>
  <br>
  <% @friends.each do |friend| %>
    <div class="col-lg-4"></div>
    <div class="col-lg-3">
      <mark class="friend-mark"><b></b><%= link_to "#{friend.full_name}", user_profile_path(friend) %></mark>
    
    </div>
    <div class="col-lg-4">
       <%= link_to "Remove friend", friends_destroy_path(friend), data: {confirm: "Are you sure?"}, class: "black" %>
    </div>
    <br><br>
  <%end%>
<%end%>
