<div id="update_name<%=current_user.id%>">
  <%= form_tag update_name_path,remote: true, method: :post do %>
    <%= text_field_tag :full_name, current_user.full_name %>
    <%= submit_tag 'Update', class: 'black'%>
  <% end %>
</div>