 <div class="col-lg-12" id="image_upload<%=current_user.id%>" onmouseover="iconAppear();" onmouseout="iconDisappear();" >
  <img src="<%=current_user.image.url%>" style="width:95%;height: 300px; cursor: pointer;" onClick="profileImageClick();">

    <% if current_user.image_file_name != nil %>
       <%= link_to "", delete_profile_pic_path,remote: true, method: :delete, id: "icon_appear", class: "fas fa-trash fa-2x", style: "position: absolute;top: 5px; left: 260px; opacity: 0;", data: {confirm: "Are you sure?"}, title: "Delete image" %>
    <%end%>
    <input type="file" id="profile_image_input" style="opacity: 0;" onChange="imageInputChange();">
</div> 