<% if @friends %>
  <h2 class="lead text-center">Select user to send messages!</h2>
  <br>
  <% @friends.each do |friend| %>
    <div class="col-lg-5"></div>
    <div class="col-lg-3">
      <mark class="friend-mark"><b></b><%= link_to "#{friend.full_name}", rooms_show_path(friend) %></mark>
      <span class="badge badge-light" style="background-color: red;    position: absolute;top: 8px;left: 55%;"><%= friend.messages.where(friend_id: current_user.id, is_read: false).count %></span>
    
    </div>
    <br><br>
  <%end%>
<%else%>
  <h2 class="lead text-center">Start Adding friends to send messages!</h2>
<%end%>