<div class="main container">
  
  <div class="message-history" id="messages">
    <%= render @messages %>
  </div>
</div>
<div class="input-box container" style="margin-top: 20px;">
  <mark style="background-color: #27AE60;border-radius: 6px; color: white; font-size: 18px; "><%= current_user.full_name %></mark>
  <span style="margin-left: 20px;">
    <input type="text" placeholder="Enter your message here" class="input-box_text" id="message_input" style="width: 500px; " onkeypress="sendMessage(event, <%=params[:format]%>);" />
  </span>
</div>
