<div class="col-lg-12 container">
<h2 class="lead">Edit Post</h2>
  <% @post.pics.each do |pic| %>
    <div class="col-lg-3">
      <a href="/pics/<%=pic.id%>"><%= image_tag(pic.image.url, size: "200x200") %></a>
      <br>
      <%= link_to "", pics_del_path(pic), method: :delete,style: "margin-left: 90px;",class: "fas fa-trash", data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>
</div>
  <div class="col-lg-12">
  <%= form_for @post, html: {multipart: true} do |f| %>
    <br>
    <%= f.label :"Add new image(s):" %>
    <%= f.file_field(:image, :multiple => true, class: "btn btn-mini" )  %>
    <div id="uniq"> </div>
    <br>
    <%= f.label :"Update description:" %>
    <br>
    <%= f.text_area(:description, size: "50*50")  %>
    <br>
    <%= f.submit :Update,class: "btn btn-primary" %>
  <% end %> 
</div>

<script type="text/javascript">
  $(document).ready(function(){
    function readURL(input) {
      for(i=0;i<input.files.length;i++){
      if (input.files && input.files[i]) {
        var reader = new FileReader();
            
        reader.onload = function (e) {
            $('#uniq').prepend('<li style="display: inline;"> <img src=" '+e.target.result+' " height="200" width="200" /> </li>')
            }
            
            reader.readAsDataURL(input.files[i]);
        }
      } 
    }
     $("#post_image").change(function(){
        readURL(this);  });
  });
</script>


<style type="text/css">
  img {
      border-radius: 8px;
  }

</style>
  